.chap1
  .vertical-center
    margin-top: 15%
    transform: translateY(-50%)

  // Exergue
  .cercle-exergue
    width: 150px
    height: 150px
    background-color: $jaune2
    border-radius: 50%
    opacity: 0.9
    margin-left: auto
    margin-right: auto
    @media screen and (max-width: 768px)
      display: none

  .exergue
    font-size: 1.6em
    font-weight: bold
    text-align: center

  .up
    display: inline-block
    margin-top: -10%

  // Texte
  .italic
    font-style: italic

  .legend
    font-style: italic
    font-size: 1.2em
    text-align: center
    @media screen and (max-width: 767px)
      font-size: 1em

  // Images
  #home_ch1
    width: 100%
    height: auto

  .image
    padding: 0

  .medaillon
    width: 80%
    margin-top: 30px
    border-radius: 50%
    border: solid 5px #feea28
    box-shadow: 5px 5px 3px black
    transition: 0.5s

  @media screen and (max-width: 992px)
    // MEDAILLON TROP PETIT ENTRE 768 ET 992
    .medaillon
      width: 120px

  // Provisoire
  .media
    background-color: black
    width: 100%
    height: 1080px
    padding: 0
    color: white
    text-align: center

  .ch1_min
    margin-top: 50%
    @media screen and (min-device-width : 768px) and (max-device-width: 991px)
      margin-top: 20%

  // Video

  video
    width: 100%
    height: auto

  .video-ch1
    width: 90%

  .column
    padding: 0 5px

.soundcloud-container
  position: relative

.soundcloud-wrapper
  position: absolute
  top: 50%
  left: 50%
  transform: translate(-50%, -50%)
  @media screen and (max-width: 767px)
    display: none

.ch1-last
  position: relative
#ch1-last-legend
  position: absolute
  top: 65%
  left: 36%
  max-width: 85px
