$jaune: #feea28

@font-face
  font-family: 'Futura T Light'
  src: url('../medias/fonts/futuratlight.woff')

@font-face
  font-family: 'Futura LT Heavy'
  src: url('../medias/fonts/futuratlheavy.ttf')

@import intro
@import chap1
@import chap2
@import chap3
@import chap4
@import lexique

html, body
  padding: 0
  margin: 0
  width: 100%
  height: 100%
  font-family: 'Futura T Light', sans-serif
  @media screen and (max-width: 767px)
    padding-top: 40px

.italic
  font-style: italic

.legend
  font-style: italic
  font-size: 1.2em
  text-align: center

#navbar
  padding-top: 10px
  background-color: $jaune
  // background: linear-gradient(#debb15, $jaune)
  font-size: 1.8em
  position: fixed
  top: 0
  left: 0
  z-index: 100
  width: 100%
  border-bottom: solid black 2px
  .logo
    @media screen and (max-width: 767px)
      width: 200px
      font-size: 1.5em
  ul
    @media screen and (max-width: 767px)
      padding-left: 0

  li
    display: inline-block
    margin-right: 30px
    @media screen and (max-width: 767px)
      margin-right: 0

a
  color: black
  font-weight: bold





// @font-face
//   font-family: 'Futura Italic'
//   font-style: italic
//   src: url('../fonts/futuraitalic.woff')

p
  font-family: 'Futura T Light', sans-serif

.medaillon
  filter: sepia(50%)
  transition: all 0.5s
  border-radius: 50%
  border : solid 5px $jaune
  box-shadow: 5px 5px 3px black
  margin-bottom: 15px
  max-width: 155px
  @media screen and (max-width: 991px)
    max-width: 130px
  &:hover
    filter: none
    transform: scale(1.05)


.main-wrapper
  width: 100%
  overflow-x: hidden
  max-width: 1440px
  margin-left: auto
  margin-right: auto
  display: none

.video-wrapper
  position: relative
  width: 90%
  margin-left: 5%

  video
    width: 100%


  .miniature-video
    position: absolute
    width: 100%
    left: 0
    top: 0

.margin-top-15
  margin-top: 15px

.margin-bottom-15
  margin-bottom: 15px

.loader-hidden
  transform: translateY(-100%)

.preload
  width: 100%
  height: 100vh
  position: absolute
  top: 0
  left: 0
  z-index: 99999
  background-color: $jaune
  transition: all 1s


  .bars-wrapper
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%)

  .bar
    width: 20px
    height: 50px
    display: inline-block
    margin: 0 5px

  .bar1
    background-color: black
    animation-name: preload
    animation-duration: 2.5s
    animation-iteration-count: infinite

  .bar2
    background-color: black
    animation-name: preload
    animation-duration: 2.5s
    animation-iteration-count: infinite
    animation-delay: 0.5s

  .bar3
    background-color: black
    animation-name: preload
    animation-duration: 2.5s
    animation-iteration-count: infinite
    animation-delay: 1s

  .bar4
    background-color: black
    animation-name: preload
    animation-duration: 2.5s
    animation-iteration-count: infinite
    animation-delay: 1.5s

  .bar5
    background-color: black
    animation-name: preload
    animation-duration: 2.5s
    animation-iteration-count: infinite
    animation-delay: 2s


@keyframes preload
  from, 40%, to
    opacity: 1
  20%
    opacity: 0
